svg {
  width: 4
      400px;
  display: block;
  position: absolute;
}

svg.path {
  width: 500px;
  display: block;
  position: absolute;
}

.ball {
  //width: 20px;
  //height: 20px;
  //background-color: red;
 //border-radius: 50%;
    
  /*
  offset-path: path('M224.5,101.5c51-44,145.18-58.51,240-38,78.25,16.93,88.53,52.58,162,73,141.56,39.34,205.84-64.56,337-48,125.41,15.83,273.07,136.87,273,281-.1,202.26-291.08,331.29-346,287-41-33.06,10.19-194.47,73-205,44.21-7.41,70.57,63.91,110,56,57.87-11.62,110.43-187.18,47-262-93.75-110.59-440.14-.29-455,114-9,69.09,108.5,98.86,105,185-4.22,104.1-183.06,240-310,179-79.81-38.33-128-149.16-100-217,14.38-34.8,38.86-34.18,107-96,62.11-56.34,117.15-106.28,107-146-14-54.73-151.71-90.11-192-46-45,49.32,12.3,219.25,110,252,110.78,37.13,189.38-130.29,346-111,104,12.81,207.66,103.65,213,193,7.87,131.6-198.58,243.07-353,269-170.33,28.61-348.17-35-463-158-36.49-39.1-148.06-158.63-131-328,12-119.2,91.29-204.26,120-234');
  //offset-distance: 0%;
*/
    offset-path: path('M23.88,60.37s0-77.72,139.39-56.79,20.86,139.27,169,166.18,106.31-125,302.93-154.23c196-29.15,244.65,19.17,318.71,126.79s143,31.64,186.57-10.21S1282.75-75.64,1380,100.73s-18.88,388.59-178.59,310.87-66.79-152.45-4.36-128.53,123.42-67.26,91.48-89.68c-57.89-40.62-318,35.87-286,122.56s235.22,98.64,171.33,204.76S925.56,646.26,927,564.05s63.89-148.18-1.45-202S906.65,175.76,796.33,250.19C688,323.27,680.18,423.56,799.24,425.05c138.41,1.74,71.15,239.14,101.64,252.59s258.45-46.33,302-125.54,169.88-113.59,187.3,6S1266.78,749.81,1172.4,737.86,808,785.25,755.68,683.62,722.28,462.42,609,469.89s2.9,188.32-103.09,224.19c-67.26,22.77-201.83,1.5-178.59-133S551,449,582.89,399.65s183-145,85.67-203.27-78.41,19.43-182.95,77.72S370.91,253.18,294,256.16s-108.9,95.66-24.68,128.54,56.62,139,7.26,177.86,45,91.17,5.56,147.13C255.79,747,169.27,775.91,84.87,709c-83.33-66-29-94.16,23.23-167.4s90-225.19-14.52-171.22-111.43-13.49-69.7-96.31c47.46-94.19,13.07-152.45,0-213.73');
    

  animation: red-ball 200s linear  infinite;
}

.delay1{
    animation-delay: -100s;
    animation-duration: 180s;
}

.delay2{
    animation-delay: -50s;
    animation-duration: 220s;
}

.delay3{
    animation-delay: -150s;
    animation-duration: 190s;
}

.delay4{
    animation-delay: -80s;
    animation-duration: 195s;
}

.delay5{
    animation-delay: -120s;
    animation-duration: 210s;
}

.delay6{
    animation-delay: -40s;
    animation-duration: 230s;
}

@keyframes red-ball {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
