

.actor {
  offset-path: path('M23.88,60.37s0-77.72,139.39-56.79,20.86,139.27,169,166.18,106.31-125,302.93-154.23c196-29.15,244.65,19.17,318.71,126.79s143,31.64,186.57-10.21S1282.75-75.64,1380,100.73s-18.88,388.59-178.59,310.87-66.79-152.45-4.36-128.53,123.42-67.26,91.48-89.68c-57.89-40.62-318,35.87-286,122.56s235.22,98.64,171.33,204.76S925.56,646.26,927,564.05s63.89-148.18-1.45-202S906.65,175.76,796.33,250.19C688,323.27,680.18,423.56,799.24,425.05c138.41,1.74,71.15,239.14,101.64,252.59s258.45-46.33,302-125.54,169.88-113.59,187.3,6S1266.78,749.81,1172.4,737.86,808,785.25,755.68,683.62,722.28,462.42,609,469.89s2.9,188.32-103.09,224.19c-67.26,22.77-201.83,1.5-178.59-133S551,449,582.89,399.65s183-145,85.67-203.27-78.41,19.43-182.95,77.72S370.91,253.18,294,256.16s-108.9,95.66-24.68,128.54,56.62,139,7.26,177.86,45,91.17,5.56,147.13C255.79,747,169.27,775.91,84.87,709c-83.33-66-29-94.16,23.23-167.4s90-225.19-14.52-171.22-111.43-13.49-69.7-96.31c47.46-94.19,13.07-152.45,0-213.73');
  animation: walk 200s linear  infinite;
}

.delay1{
    animation-delay: -100s;
    animation-duration: 180s;
}

.delay2{
    animation-delay: -50s;
    animation-duration: 220s;
}

.delay3{
    animation-delay: -150s;
    animation-duration: 190s;
}

.delay4{
    animation-delay: -80s;
    animation-duration: 195s;
}

.delay5{
    animation-delay: -120s;
    animation-duration: 210s;
}

.delay6{
    animation-delay: -40s;
    animation-duration: 230s;
}

@keyframes walk {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
